.active {
	background-color: var(--active-color);
	color: #e9e9e9;
}

.hide {
	display: none;
}

*:disabled {
	background-color: #989898;
	cursor: not-allowed;
	user-select: none;
	pointer-events: none;
	color: #fff;
	position: relative;
	overflow: hidden;

	&::before {
		content: '';
		width: 150%;
		height: 2px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(-60deg);
		background-color: red;
	}
}