
.figures_button__line {
}
.figures_button__square {
}
.figures_button__circle {
}

.settings_button__clear {
}
.settings_button__save {
}
.settings_button__load {
}
.settings_button__undo {
}
.settings_button__redo {
}

.settings_input__wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.settings_input {
	position: relative;
	margin-bottom: 10px;
}

.settings_input::before {
	content: attr(data-title);
	position: absolute;
	top: -20px;
	left: 50%;
	font-size: 20px;
	color: #000000;
	transform: translateX(-50%);
}

.settings_input_value {
	position: absolute;
	top: 50px;
	left: 50%;
	font-size: 15px;
	color: #000000;
	font-weight: 600;
	transform: translate(-50%, -50%);
}

.settings_input__color {
	width: 60px;
	height: 60px;
	background: none;
	border: none;
}

.settings_input__color_value {
	font-size: 15px;
	color: #000000;
	font-weight: 600;
	
	padding-top: 20px;
	bottom: 0;
}

.settings_input__thickness {
}
.settings_input__opacity {
}
.draw-panel {
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
	height: 100%;
	max-width: 1400px;
	width: 100%;
	position: relative;
}

.figure {
	position: absolute;
}

.figure.selected {
	border: 4px solid #000;
	background-color: #8e8e8e89 !important;
}